<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<title>小谷邮局</title>
	<link rel="stylesheet" type="text/css" href="../../app.css">
	<link rel="stylesheet" type="text/css" href="reg.css">
</head>


<body class="bodyimg">

		<div class="bodyflex" id="app">
			<div class="dxhead">
				小谷邮局
			</div>
			<div class="content">
				<div>
					<div class="title flexlayout">
						<div></div>
						<div>注册小谷</div>
						<div class="ret" @click="ret">返回</div>
					</div>
				</div>


				<div class="form">

					<div class="flexlayout">
						<span>姓&nbsp;&nbsp;&nbsp;名</span>
						<div class="inputWrap">
							<input name="" placeholder="请输入你的姓名" v-model="usernameInput" />
						</div>						
					</div>

					<div class="flexlayout">
						<span>手机号</span>
						<div class="inputWrap">
							<input name="" placeholder="请输入手机号" v-model="phoneInput" />
						</div>						
					</div>

					<div class="flexlayout">
						<span>验证码</span>
						<div class="inputWrap"><input placeholder="请输入验证码" v-model="smsInput" /></div>

						<div class="getSms" @click="sendSms">
							 <!--获取验证码-->
							{{SmsButton}}
						</div>
					</div>

					<div class="flexlayout">
						<span>密&nbsp;&nbsp;&nbsp;码</span>
						<div class="inputWrap"><input name="" placeholder="请输入密码" type="password" v-model="passwordInput"/>
						</div>
					</div>
				</div>

				<div class="button" @click="reg">注册</div>

				<div class="placeholder"></div>
				
				<div>
					<img class="ad" src="../../images/ad.fw.png">
				</div>

			</div>
		</div>

			<!--引入vue.js数据渲染引擎-->
			<script src="../../lib/vue.min.js"></script>
			<!-- 引入Bomb.js后端交互工具 -->
			<script src="../../lib/Bmob-1.7.1.min.js"></script>
			<!-- 公共Js代码 -->
			<script src="../../app.js"></script>
			<!-- 本页面Js代码 -->
			<script src="reg.js"></script>


</body>
</html>